{
  "root": true,
  "extends": ["@rviso/eslint-config"],
  "overrides": [
    {
      "files": ["*.toml"],
      "extends": ["plugin:toml/standard"],
      "parser": "toml-eslint-parser",
      "rules": {
        "prettier/prettier": "off"
      }
    }
  ]
}
